@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

.password-reset-sent-main-container {
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    background: #f3f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.password-reset-sent-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: relative;
    background: white;
}

.password-reset-sent-title {
    margin-bottom: 10px;
    font-size: 50px;
}
