@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

.password-reset-complete-main-container {
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    background: #f3f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.password-reset-complete-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: relative;
    background: white;
}

.password-reset-complete-title {
    margin-top: -10px;
    font-size: 50px;
}

.password-reset-complete-button {
    background-color: rgb(0,193,162);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 40px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.password-reset-complete-button:hover {
    background-color: rgb(0,170,160);
}
